<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./styles/styles.css" type="text/css">
</head>
<body>
    <main>
        <div>
            <button data-stop-eventstream>cancel stream</button>
            <button data-stop-websocket>cancel websocket</button>
            <div class="voting-counter" data-voting-counter></div>
        </div>
        
        <div class="container">
            <div class="container__full-width">
                <h2 data-art-title></h2>
                <div data-art-image></div>
            </div>
        </div>
    </main>
    <script defer src="./scripts/index.js"></script>
</body>
</html>