<html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="./styles/styles.css" type="text/css">
    </head>
    <body>
        <button data-stop-eventstream>cancel stream</button>
        <main class="image-stream" data-stream-target></main>
        <script defer src="./scripts/index.js"></script>
    </body>
</html>