 .image-stream {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.image-stream-item {    
    width: calc(100% /3);
}

.image-container {
    position: relative;
    margin: 0;
}

.image {
    width: 100%;
    object-fit: cover;
}

.image-title {
    position: absolute;    
    bottom: 0;
    left: 0;
    padding: 15px;
    color: white;
    font-family: sans-serif;
}